

#TEST{
    color: white;
    background-color: #fbfb04;
    border: 2px solid#111 !important;
    text-align: center;
    font: 26px Arial bolder;
}
.Finish{
    background-color: #04f704;
    text-align: left;
}

.start{
    background-color: #9a04f9;
    text-align: left;
    color: #29eff6;
}

.twoall{
    background-color: #fbfb04;
    color: white;
    text-align: center;
    padding-top: 33px;
    font: 14px Arial;
}
.red1{
    background-color: #f30404;
    border: 2px solid #d20000;
}

.first{
    background-color: #709ee6;
    color: black;
    text-align: right;
    width: 70px;
    border: 2px solid #111 !important;
    font-size: 12px;
}
.forall{
    text-align: -webkit-center;
    font: 24px Impact;
    border: 2px solid #111 !important;
    padding-top: 13px;
}
.empty1{
    border: 2px solid #111;
}

.empty2{
    border: 2px solid #111;
}

.STAR{
    font: 16px Arial normal;
}
.T{
    font-size: 12px;
}

.SH{
    font-size: 12px;
    color: white;
}
