body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */
.header__item{
    text-align: center;
    margin-top: 100px;
}

.header__title{
    text-transform: uppercase;
}
.header__subtitle{
    margin: 0 auto 20px;
}

.exercise__description{
    line-height: 4px;
}

.exercise__description:after{
    content: "";
    display: block;
    height: 3px;
    width: 120px;
    margin: 30px auto;

    background-color: #709ee6;
}

/* Ex 1.1 */
.exercise{
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;

    border: 1px solid gainsboro;

}

#elem1__1{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

#elem1__2{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}



/* Ex 1.2 */
#elem1__3{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

#elem1__4{
    position: absolute;
    top: 150px;
    left: 100px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}


/*Ex 1.3*/
#elem1__5{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem1__6{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

#elem1__7{
    position: relative;
    top: 30px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem1__8{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

#elem1__9{
    position: relative;
    top: 30px;
    left: 40px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem1__10{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}


 /* Ex 1.4 */
#elem1__11{
    width: 100px;
    height: 100px;
    background-color: #ff8888;
    margin-bottom: 20px;
}

#elem1__12{
    width: 100px;
    height: 100px;
    background-color: #7e89eb;
    margin-bottom: 20px;
}

#elem1__13{
    width: 100px;
    height: 100px;
    background-color: #4dee99;
    margin-bottom: 20px;
}


/* Ex 1.5 */
#elem1__14{
    position: relative;

    width: 100px;
    height: 100px;
    background-color: #ff8888;
}

#elem1__15{
    position: relative;
    top: -20px;
    left: 70px;

    width: 100px;
    height: 100px;
    background-color: #7e89eb;
}

#elem1__16{
    position: relative;
    top: -40px;
    left: 140px;

    width: 100px;
    height: 100px;
    background-color: #4dee99;
}


/* Ex1.6*/
#parent1__1{
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 300px;

    background-color: #4dee99;

    z-index: 0;
}

#child1__1{
    position: absolute;
    top: 40px;
    left: 40px;

    width: 40px;
    height: 40px;
    background-color: #b94b4b;

}

#child1__2{
    position: absolute;
    right: 40px;
    bottom: 40px;

    width: 40px;
    height: 40px;
    background-color: #b94b4b;
}

/* Ex 1.7*/

#parent1__2{
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 300px;

    background-color: #4dee99;

    z-index: 0;
}

#child1__3{
    position: absolute;
    top: 20px;
    right: -60px;

    width: 40px;
    height: 40px;
    background-color: #b94b4b;

}

#child1__4{
    position: absolute;
    top: 20px;
    left: -60px;

    width: 40px;
    height: 40px;
    background-color: #b94b4b;
}